.tile {
  border: solid 1px #878a8c;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 2px;
  vertical-align: top;
  font-size: 20px;
}
.key {
  height: 50px;
  width: 40px;
  display: inline-block;
  margin: 2px;
  vertical-align: top;
  background-color: #cfd4d8;
  border-radius: 10%;
  font-size: 20px;
}

.word-grid{
  margin: 150px 0;
}

.App {
  height: 100vh;
  text-align: center;
}

#big {
  width: 90px;
}

.nav{
  font-size: 32px;
  padding: 10px;
  border-bottom: solid 1px black;
}

#correct {
  background-color: #6aaa64;
  color: white;
}

#almost {
  background-color: #c9b458;
  color: white;
}

#wrong {
  background-color:#787c7e;
  color: white;
}